@{
    ViewBag.Title = "About";
}
<div class="row">
    <h2>What is <strong>Lifebook</strong> ?</h2>
</div>
<br>
<div class="row">    
    <div>
    <p><strong>Lifebook</strong> is a free web blog system that union all the journalists and passionate bloggers who wishes to express themselves.</p>
    <p>In <strong>Lifebook</strong> you can publish your:</p>
    </div>
    <br>
    <div class="col-sm-5 text-right">
    <strong>Travel Stories </strong> <img id="picture" class="img-circle" src="~/Content/Images/Travel-Story-4.jpg" alt="Travel-Story-image">
    <br>
    <strong>Love Stories </strong> <img class="img-circle" src="~/Content/Images/Love-Story.jpg" alt="Share-Your-Story-image">
    <br>
    <strong>Business Stories </strong> <img class="img-circle" src="~/Content/Images/Business.jpg" alt="Share-Your-Story-image">
    <br>
    or even what you feel <img class="img-circle" src="~/Content/Images/Life-is-good.jpg" alt="Share-Your-Story-image">
    <br>
    or think about <img class="img-circle" src="~/Content/Images/Travel-Story-1.jpg" alt="Share-Your-Story-image">
    <p>all of this is for free, just enjoy yourself! <img class="img-circle" src="~/Content/Images/Share-Your-Story.jpg" alt="Share-Your-Story-image"></p>
    </div>
</div>