@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <address>
        Sofia
        <br>
        Kokiche, 6
        <br>
        Phone: 0896217764
        <br>
        Founder: Stoycho Mihaylov Mihaylov
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:st.mihaylov.mihaylov@gmail.com">st.mihaylov.mihaylov@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:st.mihaylov.mihaylov@gmail.com">st.mihaylov.mihaylov@gmail.com</a>
    </address>
</div>