@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="background-color:#022a50">
    <div class="row">
    <h1 class="col-sm-2 text-right"style="color:white">Logo</h1>
        </div>
    <br>
    <div class="row">
    <h2 style="color:white" class="text-center">Welcome to <strong>Lifebook</strong> your exciting stories!</h2>
    <div class="row col-sm-6 text-right">
        <a class="btn btn-primary" src="">Write</a>
        <a class="btn btn-primary">Latest articles</a>
        <a class="btn btn-primary">Most liked articles</a>
        <a class="btn btn-primary">Authors</a>   
    </div>
    </div>
</div>
<div class="row">
<section class="col-sm-9 pull-left" style="border: 1px solid dodgerblue">
    <article class="w3-container w3-teal" style="border: 1px solid dodgerblue">
        <h3>Least Articles</h3>
        <div class="w3-container">
        <div class="row col-sm-8">
            <h4>HSKJAhsasa</h4>
            <p>Jhdsjhdjshdjhasdkjhadhakjshdkjadadadsadasdasdasdadsasdasdasdasdss</p>
        </div>
        <div class="row col-sm-8">
            <h4>HSKJAhsasa</h4>
            <p>Jhdsjhdjshdjhasdkjhadhakjshasdadsasdasdasdasdasdasdasdasddkjadadas</p>
        </div>
        <div class="row col-sm-8">
            <h4>HSKJAhsasa</h4>
            <p>Jhdsjhdjshdjhasdkjhadhaksssssssssssssdfffffffffffsdsdsdsdsdsdsdsdasdasdkjadadas</p>
        </div>
        <div class="row col-sm-8">
            <h4>HSKJAhsasa</h4>
            <p>Jhdsjhdjshdjhasdkjasasdsasdsasdsasdsasdsasdsasdasdhadhakjshdkjadadas</p>
        </div>
        <div class="row col-sm-8">
            <h4>HSKJAhsasa</h4>
            <p>Jhdsjhdjshdjhasdkjhadsasdsasdsasdsasdsasddddddddddddddddddddddddddddddhakjshdkjadadas</p>
        </div>
        <div class="row col-sm-8">
            <h4>HSKJAhsasa</h4>
            <p>Jhdsjhdjshdjhasdkjhadhadsaaaaaaaaaaaaaaaaaaaasddddddddddddsdsdsaaaaaaaaaaaaaaaaakjshdkjadadas</p>
        </div>
        </div>
    </article>
</section>
<aside class="col-sm-3 pull-right" style="border: 1px solid dodgerblue">
    <div style="border: 1px solid dodgerblue">
    <h3>The most popular authors</h3>
    </div>
    <div class="row">
        <h4>fdfdfdfd</h4>
    <p>fdfdfffffffffffffffffffffffffffdddddddddddffffffffffffff</p>
    </div>
    <div class="row">
        <h4>fdfdfdfd</h4>
        <p>fdfdfffffffffffffffffffffffffffdddddddddddffffffffffffff</p>
    </div>
    <div class="row">
        <h4>fdfdfdfd</h4>
        <p>fdfdfffffffffffffffffffffffffffdddddddddddffffffffffffff</p>
    </div>
    <div class="row">
        <h1>fdfdfdfd</h1>
        <p>fdfdfffffffffffffffffffffffffffdddddddddddffffffffffffff</p>
    </div>
    <div class="row">
        <h4>fdfdfdfd</h4>
        <p>fdfdfffffffffffffffffffffffffffdddddddddddffffffffffffff</p>
    </div>
</aside>
</div>